div.divBlockConnexion, div.divBlockInscription,div.divBlockProfil, div.divBlockError{
	background:white;
	width:400px;
}

div.divBlockError div.titleError{
	border-bottom:2px solid #232323;	
}

div.divBlockError div.titleError h2{
	display:inline-block;
	border:none;
}

div.divBlockError div.titleError img, img.imgTitle{
	vertical-align:bottom;
	margin-right:10px;
}

div.divBlockError div{
	padding:15px;
}

form.form_inscription, form.form_connexion, form.form_profil{
	padding:20px;
}

div.blockpage{
	border: 2px solid;
 	border-radius: 0 50px 0 0;
 	background:white;
 	width:71%;
}

h1.titleBlockpage{
	  color: white;
  background-color: #232323;
  padding: 15px;
  border-radius: 0 45px 0 0;
}

footer{
	margin-right:auto;
	margin-left:auto;
	width:50%;
	border-radius:0 0 50px 50px;
}